/* You can add global styles to this file, and also import other style files */
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
  color: antiquewhite;
}

body {
  background-color: #1F1147;
}